receivers:
  jaeger:
    protocols:
      thrift_compact:
      thrift_http:

  otlp:
    protocols:
      grpc:
      http:

  otlp/noop:
    protocols:
      grpc:
        endpoint: localhost:9999

processors:
  spanmetrics:
    metrics_exporter: influxdb
    latency_histogram_buckets: [10ms, 25ms, 50ms, 100ms, 250ms, 500ms, 1000ms, 2500ms, 5000s, 10000s]
    dimensions:
    - name: http.method
      default: GET
    - name: http.status_code
    dimensions_cache_size: 1000
    aggregation_temporality: "AGGREGATION_TEMPORALITY_DELTA"

exporters:
  influxdb:
    endpoint: https://${INFLUXDB_ADDR}/
    bucket: ${INFLUXDB_BUCKET}
    token: ${INFLUXDB_TOKEN}
    metrics_schema: otel-v1

service:
  telemetry:
    logs:
      level: debug
      encoding: json

  pipelines:
    traces:
      receivers: [otlp, jaeger]
      processors: [spanmetrics]
      exporters: [influxdb]

    metrics:
      receivers: [otlp/noop]
      exporters: [influxdb]
