name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    strategy:
      fail-fast: false
      matrix:
        go: [ "1.19", "1.20" ]
        package: [ "common", "influx2otel", "otel2influx", "jaeger-influxdb", "tests-integration" ]
        exclude:
        - go: 1.19
          package: jaeger-influxdb
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2
      with:
        fetch-depth: 1

    - uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Test
      run: >
        cd ${{ matrix.package }} &&
        go test ./...

    - name: Fmt
      run: >
        test -z $(gofmt -s -l ./${{ matrix.package }} | head -n 1) || ( gofmt -s -d ./${{ matrix.package }} ; exit 1 )

    - name: Vet
      run: >
        cd ${{ matrix.package }} &&
        go vet ./...

    - name: staticcheck
      run: >
        go install honnef.co/go/tools/cmd/staticcheck@2023.1.3 &&
        cd ${{ matrix.package }} &&
        staticcheck -f stylish ./...

  build-otelcol-influxdb:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2
      with:
        fetch-depth: 1

    - uses: actions/setup-go@v2
      with:
        go-version: "1.20"

    - name: build
      run: >
        go install go.opentelemetry.io/collector/cmd/builder@v0.79.0 &&
        cd otelcol-influxdb &&
        builder --config build.yml
